@import "vibetrader.css";

:root {
    /* --color-light: #f8f8f8; */
    --color-light: #ffffff;
    --color-dark: #242424;

    background-color: var(--background-color, var(--color-light));
    color: var(--color, var(--color-dark));

    color-scheme: var(--color-scheme, light);

    transition-duration: var(--transition-duration, 200ms);
    transition-property: background-color, color;

    @media (prefers-color-scheme: dark) {
        &:has(#color-scheme option[value="system"]:checked) {
            --background-color: var(--color-dark);
            --color: var(--color-light);
            --color-scheme: dark;
        }
    }

    &:has(#color-scheme option[value="dark"]:checked) {
        --background-color: var(--color-dark);
        --color: var(--color-light);
        --color-scheme: dark;
    }

    @media screen and (prefers-reduced-motion: reduce),
    (update: slow) {
        --transition-duration: none;
    }

}

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}