@import "aria-theme.css";

.screen {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    cursor: default;
    display: flex;

}

.container {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    cursor: default;

    &:focus {
        outline: none;
    }
}

.container div.chartview {
    border-style: solid;
    /* top, right, bottom, left */
    border-width: 0px 0px 1px 1px;
    border-color: black
}

.container div.header {
    grid-area: header;
}

.container div.content {
    grid-area: content;
}

.container div.axisy {
    grid-area: axisy;
}

.container div.axisx {
    grid-area: axisx;
}

.container div.footer {
    grid-area: footer;
}

.container div.title {
    position: relative;
    border-bottom: 0.7px solid var(--gray-600);
    color: var(--text-color);
}

.container div.borderLeftUp {
    border-left: 0.7px solid var(--gray-600);
    position: absolute;
    top: 80%;
    bottom: 0;
}

.container div.help {
    position: relative;
    border-top: 0.7px solid var(--gray-600);
    color: #00F000;
}

.container div.borderLeftDown {
    border-left: 0.7px solid white;
    position: absolute;
    top: 0;
    bottom: 80%;
}

.klinechart {
    stroke: var(--positive-color);
}

.klinechart path.positive {
    stroke: var(--positive-color);
    fill: var(--positive-color);
}

.klinechart path.negative {
    stroke: var(--negative-color);
    fill: var(--negative-color);
}

.volumechart {
    stroke: var(--positive-color);
}

.volumechart path.positive {
    stroke: var(--positive-color);
    fill: var(--positive-color);
}

.volumechart path.negative {
    stroke: var(--negative-color);
    fill: var(--negative-color);
}

.axis path {
    stroke: var(--gray-600);
    fill: var(--gray-600);
    stroke-width: 0.7px;
}

.axis text {
    fill: var(--gray-600);
}

.drawing-highlight path {
    stroke: var(--gray-600);
    fill: var(--gray-600);
    stroke-width: 1px;
}

.drawing-highlight rect {
    stroke: var(--gray-600);
    stroke-width: 1px;
}

.drawing path {
    stroke: var(--gray-600);
    fill: var(--gray-600);
    stroke-width: 0.7px;
}

.drawing rect {
    stroke: var(--gray-600);
    stroke-width: 0.7px;
}

.drawing text {
    fill: var(--gray-600);
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.blinking-label {
    animation: blink 1s;
}

.label-title {
    color: var(--annot-color-r);
}

.label-mouse {
    color: var(--annot-color-g);
}

.label-refer {
    color: var(--annot-color-c);
}

.annot-mouse path {
    stroke: var(--annot-color-g);
    fill: var(--annot-color-g);
    stroke-width: 0.7px;
}

.annot-mouse text {
    fill: var(--annot-text-color-1);
}

.annot-refer path {
    stroke: var(--annot-color-c);
    fill: var(--annot-color-c);
    stroke-width: 0.7px;
}

.annot-refer text {
    fill: var(--annot-text-color-1);
}

.annot-positive path {
    stroke: var(--positive-color);
    fill: var(--positive-color);
    stroke-width: 0.7px;
}

.annot-positive text {
    fill: var(--annot-text-color-1);
}

.annot-negative path {
    stroke: var(--negative-color);
    fill: var(--negative-color);
    stroke-width: 0.7px;
}

.annot-negative text {
    fill: var(--annot-text-color-2);
}